@media screen and (max-width: 600px) {

    body {
        text-align: center;
    }

    .imagenespie {
    
        width: 100%;
        height: 250px;
        margin-left:100px;
        display:inline-block;
       
    }

    .primerimg, .segimg, .tercerimg, .gif, .video, .publicidad {
        width: 400px;
    }
    
    .footer1 {
        margin-right:100px;
    }

    .footer2 {
        margin-right:100px;
    }
    .footer3 {
        margin-right:100px;
    }

    .footer4 {
        margin-right:100px;
    }

    .imgpubli {
        width: 100%;
        margin-bottom:10px;
        display:inline-block;
    }
    .textovideo {
        width: 100%;
    }
    
    .primer {
        width:50%;
        margin-right: 100px;
    }
    .segundo {
        width:100%;
        
    }

  }
