

body {
    margin-left:10%;
    margin-right:20%;
}

.titulo {
    font-size:xx-large;
    font-weight: bolder;
    margin-top:3%;
    margin-bottom:2%;
}

.subtitulo {
    font-size:large;
    font-weight: bolder;
    margin-top:3%;
    margin-bottom:2%;
}

p {
    margin-bottom:10px;
}

.noticia {
    margin-left:20%;
    margin-right: 20%;
}

.primerimg {
    width: 100%;
    height: 500px;
}

.textoimg {
    color:grey;
    font-size: small;
}

.primerimg .textoimg {
    margin-left:10%;
    margin-right: 10%;
}

.imgpubli {
    width:300px;
    margin-bottom:170px;
}

.primer {
    width:100px;
    float:left;
}
.segundo {
    width:200px;
    float:left;
}

span {
    display:inline;
}

.derecha {
    margin-left: 90%;
    margin-top:30px;
}

.tercerimg {
    width:600px;
    height:400px;
}

.linea {
    color:grey;
}

.negrita {
    font-weight: bold;
}


